@import '../../../styles/variable';

header {
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $palette-system-white;
    border-bottom: 1px solid $palette-gray-alt;
    user-select: none;

    .logotipo {
        position: relative;
        width: 35px;

        img {
            width: 100%;
        }
    }

    h1 {
        cursor: pointer;
        color: $color-orange;

        span {
            color: $palette-secondary-alt;
        }
    }

    // button logate
    .logate{
        width: 70px;
        height: 25px;
        position: absolute;
        padding-bottom: 5px;
        right: 20px;
        top: 80px;
        z-index: 999;
        font-weight: 600;
        color: $palette-system-white;
        background-color: $palette-system-success;
        transition: $transition-fast;
        border-radius: 0 0 15px 15px;
        cursor: pointer;
        border: none;

        &:hover{
            height: 35px;
        }
    }

    div.icon {
        width: 30px;
        height: 30px;
        border: 1px solid $palette-gray-alt;
        //    display
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        font-size: 1.2rem;

        &:hover {
            background-color: $palette-gray-alt;
        }
    }
}