@import '../../styles/variable';

.container_login{
    position: relative;
    width: 50%;
    max-width: 500px;
    min-width: 300px;
    margin: auto;

    // display
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .details-login{
        width: 100%;
        padding: 10px;

        p{
            color: $palette-gray-ext;
            text-align: center;
            font-size: 14px;
        }
    }

    form{
        width: 100%;
        background-color: #f9f9f9;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding: 40px 20px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        
        .icon_eyes{
            width: 80px;
            height: 40px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                width: 100%;
                background-position: center;
            }
        } 

        h2{
            text-transform: uppercase;
            color: $palette-secondary;
            margin-bottom: 15px;
        }

        input{
            height: 32px;
            text-align: center;
            outline: none;
            border: 1px solid $color-text-primary;
            border-radius: 5px;

            &:focus{
                border: 1px solid $palette-system-success;
            }
        }

        button{
            width: 100px;
            height: 30px;
            font-weight: 600;
            background-color: $palette-system-success;
            border: 1px solid $palette-link-hover;
            border-radius: 5px;
            color: $palette-system-white;
            cursor: pointer;
            margin-top: 10px;
        }
    }

}