// Background Colors
$color-primary: #ccc;
$color-secondary: #2F353A;
$color-orange: #FF5F0E;

$color-text-secundary: #9da1a4;
$color-text-primary: #e1e5e9;
$color-accent: null;

$palette-system-white: #fff;
$palette-system-info: #1C91E7;
$palette-system-success: #08C18A;
$palette-system-warning: #F44336;
$palette-primary: #08C18A;
$palette-primary-alt: #0FA564;
$palette-primary-ext: #097F52;
$palette-accent: #EEE8FB;
$palette-accent-alt: #c0f7e6;
$palette-secondary: #121330;
$palette-secondary-alt: #050516;
$palette-secondary-ext: #414257;
$palette-gray: #FAFAFB;
$palette-gray-alt: #E7E7EA;
$palette-gray-ext: #717181;
$palette-link: #08C18A;
$palette-link-hover: #0FA564;
$palette-link-active: #097F52;
$palette-link-white: #fff;
$palette-link-black: #121330;
$palette-link-silver: #FAFAFB;
$palette-link-silver-alt: #E7E7EA;
$palette-link-silver-ext: #717181;
$palette-text-white: #fff;
$palette-text-black: #121330;
$palette-text-silver-alt: #E7E7EA;
$palette-text-silver-ext: #717181;

// Types Pokemons color
$color-normal: #A8A77A;
$color-fire: #EE8130;
$color-water: #6390F0;
$color-electric: #F7D02C;
$color-grass: #7AC74C;
$color-ice: #96D9D6;
$color-fighting: #C22E28;
$color-poison: #A33EA1;
$color-ground: #E2BF65;
$color-flying: #A98FF3;
$color-psychic: #F95587;
$color-bug: #A6B91A;
$color-rock: #B6A136;
$color-ghost: #735797;
$color-dragon: #6F35FC;
$color-dark: #705746;
$color-steel: #B7B7CE;
$color-fairy: #D685AD;

// Colores Stats pokemon
$color-attack: #FF6D6A;
$color-defense: #76D275;
$color-special-attack: #FF9C54;
$color-special-defense: #68BFF5;
$color-speed: #FFCE4B;
$color-hp: #B97FC9;
$color-ability: #A8A878;
$color-hidden-ability: #73A5C4;
$color-passive: #9E9E9E;
